<%- include("partials/header.ejs") %>


  <h1>Home Page</h1>

  <p>
    <b><em>Berkeley Bear Blogger</em></b> is your go-to platform for capturing and sharing the unique experiences of life at UC Berkeley. Created with the vibrant and diverse student community in mind, this space allows you to document your academic journey, personal growth, and the everyday adventures that make your time at Berkeley unforgettable. Whether you're a first-year finding your way, a senior reflecting on your college years, or an alum looking back, Berkeley Bear Blogger is the perfect place to tell your story.
  </p>
  <p>
    This platform isn't just about sharing; it's about building a community. Connect with fellow Golden Bears who are navigating similar paths, exchange advice, and celebrate milestones together. From late-night study sessions to campus events and everything in between, Berkeley Bear Blogger is where your Berkeley story lives. Join us, and let your voice be part of the collective experience that defines what it means to be a Golden Bear.
  </p>

<%- include("partials/footer.ejs") %>